autopep8==1.6.0
boto3==1.21.16
botocore==1.24.16
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.1.0
pycodestyle==2.8.0
python-dateutil==2.8.2
python-dotenv==0.19.2
requests==2.27.1
s3transfer==0.5.2
six==1.16.0
toml==0.10.2
urllib3==1.26.8
Werkzeug==2.0.3
