{% extends "base.html" %}
    {% block content %}

    <div>
        <p><a href="/">« Back</a></p>
        <h2>About</h2>
        <section>
            <em>Sindarin Translator Online</em> is a web interface for the terminal application I created in Term 2 (2021) for the CCC course (T2A3). You can find more details about that project <a href="https://github.com/Kei-Eff/sindarin-translator-online">here</a>.

            Documentation and Development updates are available via Trello <a href="https://trello.com/b/5FlPl44f/t4a2-sindarin-translator-online">here</a>.
        </section>

        <section>
            <h3>Credits</h3>
            <p>
                <em>Sindarin</em> translations from <a href="https://funtranslations.com/">Fun Translations</a>
            </p>
            <p>
                <em>Tengwar</em> Font from <a href="https://www.fontspace.com/tengwar-cursive-font-f2242">FontSpace</a>. Designed by <a href="https://www.fontspace.com/harri-per%C3%A4l%C3%A4">Harri Perälä</a>
            </p>
        </section>

    </div>


    {% endblock %}