{% extends "base.html" %}
    {% block content %}

        {% if page_data.error_message | length > 0 %}
        <div>
            <p>
                {{ page_data.error_message }}
            </p>
        </div>
        {% endif %}

        <div>
            <form action="/" method="POST">
                <label for="msg">Message to Translate:</label>
                <textarea id="msg" name="message">{{ page_data.message }}</textarea>
                <button type="submit">Translate</button>
            </form>

            {% if page_data.translated_message | length > 0 %}
            <div>
                <p class="tengwar">
                    {{ page_data.translated_message }}
                </p>
            </div>
            <div>
                <p>
                    {{ page_data.translated_message }}
                </p>
            </div>
            {% endif %}
        </div>

    {% endblock %}
